@use '@angular/material' as mat;
@include mat.form-field-density(-2.5);

.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.mdc-text-field--filled {
  background-color: rgba(0, 0, 0, 0) !important;
}

.command-panel {
  display: flex;
  justify-content: center;
}


